/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    list-style-type: none;
  }
  ul{
    list-style-type: none; 
  }
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #08375e;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: rgb(132, 131, 131);
    color: white;
  }